.app-title-container{
  background-color: white;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 5px double green;
  box-shadow:  1px 1px 1px 2px rgb(23, 246, 23);

}

.app-title{
  text-align: center;
  margin:0px;
  color: red;
  font-family:  ' Courier, monospace';
}

.main-emoji-container{
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow:  1px 1px 1px 2px rgb(23, 246, 23);
  border:1px double rgb(10, 52, 1);
}

.main-emoji{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 150px;
  margin-top: -10px;
}

.emoji-container{
  background-color: azure;
  display:flex;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.emoji-item{
  font-size: 40px;
  margin:10px;
  cursor:pointer;
  background-color: rgb(179, 254, 160);
  border-radius: 10px;
  padding-bottom: 5px;
  border: 2px solid rgb(4, 255, 0);
  }

.emoji-item:hover{
  transform: scale(1.4);
  transition: 0.4s;
  box-shadow: 1px 1px 1px 2px rgb(46, 186, 3);
  border-radius: 10px;
}

.emoji-editor-container{
  display: flex;
  justify-content: space-around;
}

.colors-container{
  background-color: beige;
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 100px;
}

.color-item{
  border:1px solid gray;
  border-radius: 5px;
  height: 50px;
  width:80px;
}
.color-item:hover{
  cursor:pointer;
  transform: scale(1.2);
  transition: 1.2s;
  box-shadow: 1px 1px 1px 1px gray;
}

.bg-red{
  background-color: red;
  border:2px double rgb(155, 8, 3);
}
.bg-blue{
  background-color: rgb(24, 7, 255);
  border:2px double rgb(1, 17, 122);

}
.bg-yellow{
  background-color:yellow;
  border:2px double rgb(162, 144, 2);

}
.bg-pink{
  background-color: rgb(252, 105, 154);
  border:2px double rgb(145, 2, 76);
}

.size-container{
  background-color: beige;
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 100px;
}

.size-slider{
  width: 100%;
}